<ul> Great video clips from some older movies
  <li><%= link_to 'Austin Powers 3', austinpowers3_path %></li>
  <li><%= link_to 'Dreamgirls', dreamgirls_path %></li>
  <li><%= link_to 'Gladiator', gladiator_path %></li>
  <li><%= link_to 'Matilda', matilda_path %></li>
</ul>